.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}
.modalWrapper {
  position: fixed; 
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
